[submodule "Weekly Deep Learning Exercises/RSNA Pneumonia Detection/past_solutions/kaggle_RSNA_Pneumonia_Detection"]
	path = Weekly Deep Learning Exercises/RSNA Pneumonia Detection/past_solutions/kaggle_RSNA_Pneumonia_Detection
	url = https://github.com/pdima/kaggle_RSNA_Pneumonia_Detection
